manifest {
  description = 'HASE genotype conversion pipeline'
  author = 'Urmo Võsa'
  nextflowVersion = '>=20.07.1'
  version = '0.1'
  mainScript = 'ConvertVcf2Hdf5.nf'
}

params {

  container = 'quay.io/eqtlgen/eqtlgen_phase2:v1.6'
}

report {

  enabled = false
  file = 'ConvertGenotype_report.html'

}

trace {

  enabled = false
  file = 'ConvertGenotype_trace.txt'

}

timeline {

  enabled = false
  file = 'ConvertGenotype_timeline.txt'

}

profiles {
  process.container = params.container
  conda_profile {
          process.conda = "$baseDir/EqtlgenP2CondaEnv.yml"
          }
  singularity_profile {
          singularity.enabled = true
          singularity.autoMounts = true
          process.executor = 'slurm'
          }
  cluster_slurm {
          process.executor = 'slurm'
      }
}
