manifest {
  description = 'HASE genotype conversion pipeline'
  author = 'Urmo Võsa'
  nextflowVersion = '>=20.07.1'
  version = '0.3'
  mainScript = 'ConvertVcf2Hdf5.nf'
}

params {
  container = 'quay.io/eqtlgen/eqtlgen_phase2:v1.6'
}

report {
  enabled = false
  file = 'ConvertGenotype_report.html'
}

trace {
  enabled = false
  file = 'ConvertGenotype_trace.txt'
}

timeline {
  enabled = false
  file = 'ConvertGenotype_timeline.txt'
}

profiles {
  process.container = params.container

  conda {
          process.conda = "$baseDir/EqtlgenP2CondaEnv.yml"
          }
  singularity {
          singularity.enabled = true
          singularity.autoMounts = true
          process.executor = 'slurm'
          cacheDir = "$baseDir/singularity_img/"
          }
  slurm { includeConfig 'conf/slurm.config' }
}
