manifest {
  description = 'HASE genotype conversion pipeline'
  author = 'Urmo Võsa'
  mainScript = 'ConvertVcf2Hdf5.nf'
  nextflowVersion = '>=20.07.1'
  version = '0.3'
}


params {
  outdir = './results'
  custom_config_version = 'master'
  tracedir = "${params.outdir}/pipeline_info"

  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
}

//Define Docker/Singularity container
process.container = 'quay.io/eqtlgen/eqtlgen_phase2:v1.6'

includeConfig 'conf/base.config'

profiles {
  slurm { includeConfig 'conf/slurm.config'}
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = "$baseDir/singularity_img/"
  }
  conda { process.conda = "$baseDir/environment.yml" }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

report {
  enabled = false
  file = 'ConvertGenotype_report.html'
}

trace {
  enabled = false
  file = 'ConvertGenotype_trace.txt'
}

timeline {
  enabled = false
  file = 'ConvertGenotype_timeline.txt'
}
