/*
 * -------------------------------------------------
 *  eQTLGen/ConvertVcf2Hdf5 Nextflow lsf config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

executor {
    name = 'lsf'
    queueSize = 400
    submitRateLimit = 1
}

process {
  executor = 'lsf'
  perJobMemLimit = true
}
